<!-- <div>  -->
  <!-- interpolation binding from component to view  -->
  <!-- <h2>{{firstName}} {{lastName}}</h2> -->
  <!-- property binding -> binding firstName to the innerHTML of the span tag -->
  <!-- <span [innerHTML]='firstName'></span> -->
  <!-- style binding -->
  <!-- <h1 style="color: darkgreen">Let's go to Amazon Forest !</h1> -->
  <!-- two way databinding -> exchange data from the component to view and from view to the component -->
  <!-- <div>
    Enter the place you want to go <input type="text" [(ngModel)]='placeName' />
    Yayy ! {{placeName}}
  </div>
  <br> -->
  <!-- one way -> event binding -->
  <!-- <button (click)="showAlert()">CLICK ME :( </button>
</div> -->

<!-- <mat-card>
    <mat-card-header>
      <mat-card-title>
        Login
      </mat-card-title>
      <mat-card-content>
        <form id="loginForm" [formGroup]="form">
          <mat-form-field>
            <input matInput placeholder="Username" class="form-control" name="username" type="email">   
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" class="form-control" name="password" type="password">   
          </mat-form-field>
          <mat-form-field>
            <button id="loginSubmit" mat-raised-button type="submit" color="primary">LoGiN</button>
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card-header>
  </mat-card> -->

<div class="outer-container">
  <!-- <mat-toolbar>
        <span>My Application</span>
  </mat-toolbar> -->
  <div class="login-container">
      <mat-card class="login-card">
          <mat-card-title>
              LOGIN 
          </mat-card-title>
      <mat-card-content>
        <form [formGroup]="loginForm">
          <mat-form-field>
            <label>
                <input matInput 
                       type="email"
                       placeholder="username/email"
                       formControlName="username">
            </label>     
            <mat-error *ngFor="let validation of userValidationMessages['username']">
              <mat-error class="error-message" 
                         *ngIf="loginForm.get('username').hasError(validation.type) && 
                               (loginForm.get('username').dirty || loginForm.get('username').touched)">{{validation.errorMessage}}</mat-error>
              </mat-error> 
          </mat-form-field>
          <mat-form-field>
            <label>
                <input matInput 
                       type="password"
                       placeholder="password"
                       formControlName="password">
            </label>
            <mat-error *ngFor="let validation of userValidationMessages['password']">
              <mat-error class="error-message"
                               *ngIf="loginForm.get('password').hasError(validation.type) && 
                                     (loginForm.get('password').dirty || loginForm.get('password').touched)">{{validation.errorMessage}}</mat-error>
            </mat-error> 
          </mat-form-field>
          <div>
            <button mat-raised-button 
                    type="submit" 
                    color="primary"
                    (click)="loginUser()"
                    class="login-button" [disabled]="!loginForm.valid">LoGiN
            </button>
          </div>
        </form>
      </mat-card-content> 
    </mat-card>
  </div>
</div>